### IntelliJ IDEA ###
out/
../out/
.idea/
*.iml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings/
bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### .class file ###
*.class

### dependencies ###
dependencies/

### system log ###
**/log/system_log.txt